@charset "utf-8";
blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
dl, li, menu, ol, ul {
    list-style: none;
}
body, button, input, select, td, textarea, th {
    font-size: 14px;
    font-family: '맑은 고딕','Malgun Gothic',dotum,sans-serif;
    color: #676767;
}
.main{
	min-height: 1000px !important;
}
.OrgTree {
	    clear: both;
	    /* float: left; */
	    line-height: 1;
	}
.OrgTree ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: url(resources/assets/img/tree_bg4.gif) repeat-y -1px 0;
}
.OrgTree>ul>li.last {
    background-image: none!important;
    padding: 0;
}
.OrgTree li.last {
    background-image: url(resources/assets/img/tree_bg3.gif)!important;
    background-color: #fff;
    padding-top: 1px!important;
}
.OrgTree li {
    padding: 0 0 0 20px!important;
    margin: 7px 0!important;
    background-image: url(resources/assets/img/tree_bg2.gif)!important;
    background-repeat: no-repeat;
    background-position: -1px -2px!important;
}
.OrgTree .Container {
    float: none!important;
    height: 13px;
    line-height: 13px;
    cursor: pointer;
}
.icon.btn_closelayer {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 17px;
    height: 16px;
    background-position: -281px 0;
}
.icon {
    background: url(../images/sp_icon.png) 0 0 no-repeat;
}
.to-item .up {
    display: inline-block;
    width: 23px;
    height: 19px;
    background-position: -378px -65px;
    
}
.to-item .down {
    display: inline-block;
    width: 23px;
    height: 19px;
    background-position: -353px -65px;
}
.mgr_20 {
    margin-right: 20px;
}
.point_color {
    color: #2985db!important;
}
.bold {
    font-weight: 700;
}
.icon.order {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-position: -384px -92px;
}
.content_title .detail_select {
    float: left;
    padding-right: 20px;
    position: relative;
    color: #2985db;
    font-size: 13px;
}
.content_title {
    position: relative;
    padding: 20px 25px 0;
    min-width: 733px;
    height: 60px;
}
fieldset, img {
    border: 0 none;
}
.content_title .detail_select>a {
    color: #2985db;
}
.fl {
    float: left!important;
}
.icon.question {
    float: left;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-position: -308px -20px;
    margin-top: 4px;
    margin-left: 2px;
}
.blind {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 0;
    background: 0;
    font-size: 0;
    line-height: 0;
}
.tooltip {
    position: relative;
}
.setting_box {
    /* position: absolute; */
    top: 17px;
    right: 25px;
}
.content_inbox {
    /* position: absolute; */
    top: 61px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.cont_box {
    min-height: 400px;
    min-width: 500px;
    width: 100%;
}
.tableType02 {
    width: 100%;
    border-top: 1px solid #cdcdcd;
}
table {
    border-collapse: collapse;
}
caption {
    overflow: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
.tableType02 th {
    padding: 14px 14px;
    border-bottom: 1px solid #dedede;
    background: #f9f9f9;
    color: #333;
    font-weight: 400;
    text-align: center;
}
.tableType02 td {
    padding: 12px 0 12px 14px;
    border-bottom: 1px solid #dedede;
}
a {
    /* color: #676767; */
    text-decoration: none;
}
.tooltip-box {
    position: absolute;
    float: left;
    top: 20px;
    left: -50px;
    width: 382px;
    padding: 12px;
    margin: 6px 0 0;
    font-size: 12px;
    background-color: #fcfcfc;
    border: 1px solid #cfcfcf;
    z-index: 1500;
    text-align: left;
}
.pdt_10 {
    padding-top: 10px!important;
}
.cal_table1 {
    width: 100%;
}
.cal_table1 tr td:first-child, .cal_table1 tr th:first-child {
    border-left: 0;
}
.cal_table1 tbody th {
    text-align: left;
}
.cal_table1 th {
    padding: 6px 12px;
    font-weight: 400;
    background: #f9f9f9;
    border-left: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
}
.cal_table1 tr td:last-child, .cal_table1 tr th:last-child {
    border-right: 0;
}
.cal_table1 td {
    padding: 6px 12px;
    border-left: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
}
.vt {
    vertical-align: top!important;
}
.mgl_20 {
    margin-left: 20px;
}

.weakblue {
    color: #779ec0!important;
}
.cal_table1 tr td:last-child, .cal_table1 tr th:last-child {
    border-right: 0;
}
.dropbtn-wrap .btn_variables, .layer_box .btn_variables, .layer_button.btn_variables {
    background: #fff;
    padding: 5px 27px 6px;
    border: 1px solid #c8c8c8;
    color: #2c86dc;
}
.layer_button button {
    padding: 5px 27px 6px;
    color: #444;
    letter-spacing: -1px;
    border: 1px solid #dadada;
    background: #dadada;
}
.approval-wrap.view h1 {
    padding-bottom: 20px;
    font-size: 32px;
    font-weight: normal;
    color: #333;
    text-align: center;
    letter-spacing: -1px;
}
.setting_box {
    position: absolute;
    top: 17px;
    right: 25px;
}
.board_comment {
    padding: 20px;
    background: #f6f7f8;
}
.board_comment li {
    padding: 20px 0 20px 30px;
    overflow: hidden;
    border-bottom: 1px solid #e8ecee;
}
.comment_write button {
    display: inline-block;
    width: 80px;
    padding: 7px 0 7px;
    background: #fff;
    text-align: center;
    color: #2c86dc;
    border: 1px solid #c8c8c8;
}
.bt_left {
    width: 100%;
    padding: 20px 0 50px;
    text-align: left;
}
.cont_file {
    float: left;
    margin: 0 20px 5px 0;
}
button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}
.layer_box {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1010;
    border: 1px solid #8d8d8d;
    background: #fff;
}
.icon.src {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-position: -233px -20px;
}
.icon.month {
    display: inline-block;
    width: 17px;
    height: 18px;
    background-position: -450px -21px;
    vertical-align: middle;
}

/*# sourceMappingURL=maps/style.css.map */
