<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="insaMapper">
	
	
	<resultMap id="jobResultSet" type="Job">
		<id property="jobCode" column="job_code"/>
		<result property="jobName" column="job_name"/>
	</resultMap>
	
	<select id="selectJob" resultMap="jobResultSet">
		select *
		from job
	</select>
	
	<update id="insaUpdate" parameterType="Employee">
		update employee
		set dept_code = #{deptCode}, job_code = #{jobCode}
		where emp_id = #{empId}
	</update>
	
	<insert id="insaInsert" parameterType="Employee">
		insert into employee
		values (emp_seq.nextval,#{empName},#{empPwd},#{gender},#{birth},#{deptCode},#{jobCode},
		        #{phone},null,null,2000000,#{phone},0,to_date(sysdate,'YYYY-MM-DD'),null,default,
		        default,null,FN_KO_CHAR(#{empName}),default,default)
	</insert>
	
	<select id="currvalEmpId" resultType="_int">
		select emp_seq.currval
		from employee
		where rownum = 1
	</select>
	
</mapper>
