<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="insaMapper">
	
	
	<resultMap id="jobResultSet" type="Job">
		<id property="jobCode" column="job_code"/>
		<result property="jobName" column="job_name"/>
	</resultMap>
	
	<resultMap id="empResultSet" type="Employee">
		<id property="empId" column="emp_id"/>
		<result property="empName" column="emp_name"/>
		<result property="empPwd" column="emp_pwd"/>
		<result property="gender" column="gender"/>
		<result property="birth" column="birth"/>
		<result property="deptCode" column="dept_code"/>
		<result property="deptName" column="dept_name"/>
		<result property="jobCode" column="job_code"/>
		<result property="jobName" column="job_name"/>
		<result property="phone" column="phone"/>
		<result property="email" column="email"/>
		<result property="address" column="address"/>
		<result property="salary" column="salary"/>
		<result property="account" column="account"/>
		<result property="star" column="star"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="retireDate" column="retire_date"/>
		<result property="empStatus" column="emp_status"/>
		<result property="profilePath" column="profile_path"/>
		<result property="vacation" column="vacation"/>
		<result property="workStatus" column="work_status"/>
		<result property="statusMsg" column="status_msg"/>
	</resultMap>
	
	<select id="selectJob" resultMap="jobResultSet">
		select *
		from job
	</select>
	
	<update id="insaUpdate" parameterType="Employee">
		update employee
		set dept_code = #{deptCode}, job_code = #{jobCode}
		where emp_id = #{empId}
	</update>
	
	<insert id="insaInsert" parameterType="Employee">
		insert into employee
		values (emp_seq.nextval,#{empName},#{empPwd},#{gender},#{birth},#{deptCode},#{jobCode},
		        #{phone},null,null,2000000,#{phone},0,to_date(sysdate,'YYYY-MM-DD'),null,default,
		        default,null,FN_KO_CHAR(#{empName}),default,default)
	</insert>
	
	<select id="currvalEmpId" resultType="_int">
		select emp_seq.currval
		from employee
		where rownum = 1
	</select>
	
	<select id="selectRetireList" resultMap="empResultSet">
		select *
		from emp
		where emp_status='Y' and retire_date is not null
	</select>
	
	<update id="deleteEmployee" parameterType="_int">
		update employee
		set emp_status = 'N'
		where emp_id = #{empId}
	</update>
</mapper>
