<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mailMapper">
	
	<resultMap id="MailResultSet" type="Mail">
		<id property="mailNum" column="mail_num"/>
		<result property="empId" column="emp_id"/>
		<result property="mailFrom" column="mail_from"/>
		<result property="mailTo" column="mail_to"/>
		<result property="mailTitle" column="mail_title"/>
		<result property="mailContent" column="mail_content"/>
		<result property="originalFileName" column="original_filename"/>
		<result property="renameFileName" column="rename_filename"/>
		<result property="mailDate" column="mail_date"/>
		<result property="mailType" column="mail_type"/>
		<result property="mailImportant" column="mail_important"/>
		<result property="mailStatus" column="mail_status"/>
	</resultMap>
	

	<select id="getListCount" resultType="_int">
		select count(*)
		from mail
		where mail_status='Y'
	</select>
	
	<select id="receiveMailList" resultMap="MailResultSet">
		select *
		from mail
		where mail_status='Y'
		order by mail_num desc
	</select>

	<insert id="insertMail" parameterType="Mail">
		insert into mail
		values (mail_seq.nextval,#{empId},#{mailFrom},#{mailTo},#{mailTitle},#{mailContent},
		        #{originalFileName},#{renameFileName},sysdate,default,default,default)
	</insert>
	
	<select id="receiveDetail" parameterType="_int" resultMap="MailResultSet">
		select *
		from mail
		where mail_num=#{mailNum}
	</select>
	
	<!-- 메일 검색결과 게시글 수 조회용 쿼리문 -->
	<select id="selectSearchCount" resultType="_int">
		select count(*)
		from mail
		where mail_status='Y'
		<choose>
			<when test="writer != null">
				and mail_from like '%' || #{writer} || '%'
			</when>
			<when test="title != null">
				and mail_title like '%' || #{title} || '%'
			</when>
			<otherwise>
				and mail_content like '%' || #{content} || '%'
			</otherwise>
		</choose>
	</select>
	
	<!-- 메일 검색결과에 해당하는 게시글 목록 조회 -->
	<select id="selectSearchList" resultMap="MailResultSet">
		select *
		from mail
		where mail_status='Y'
		<choose>
			<when test="writer != null">
				and mail_from like '%' || #{writer} || '%'
			</when>
			<when test="title != null">
				and mail_title like '%' || #{title} || '%'
			</when>
			<otherwise>
				and mail_content like '%' || #{content} || '%'
			</otherwise>
		</choose>
		order by mail_num desc
	</select>
	
	<update id="deleteMail" parameterType="_int">
		update mail
		set mail_status='N'
		where mail_num=#{mailNum}
	</update>
	
	<update id="transferMail" parameterType="_int">
		update mail
		set mail_type=#{mailType}
		where mail_num=#{mailNum}
	</update>

</mapper>
